@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root{
    --header-bg-color: #38AF90;
    --white-font-color: #fff;
    --main-title-color: #797979;
    --main-section-content: #F0F0F0;
    --main-content-title: #38AF90;
    --pink-color: #DD7E92;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}

hr{
    border: 1px solid var(--main-content-title);
    margin-bottom: 3px;
}

/*HEADER*/

.header-container{
    background-color: var(--header-bg-color);
    color: var(--white-font-color);
    height: 90px;

    display: flex;
}

.header-container-content{
    margin: 15px 10px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-weight: bold;
    font-size: 18px;
}

.header-nav ul{
    list-style-type: none;
    display: none;
}

.header-nav li{
    margin-right: 30px;
}

.header-profile{
    width: 60px;
    height: 60px;

    display: flex;
}

.box-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);

}

/*MAIN*/

.main-section-container{
    margin: 10px;
    margin-bottom: 40px;
}

.main-section-title{
    margin: 40px 0 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-title-color);
    text-align: center;
}

.main-section-content{
    background-color: var(--main-section-content);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

.main-content-title h3{
    font-size: 1em;
    color: var(--main-content-title);
    margin: 0 0 5px 0;
    font-weight: bold;
}

.main-content-title h4{
    font-weight: bold;
    font-size: 1em;
    color: var(--main-title-color);
    margin-bottom: 5px;
}

.main-content-date{
    font-size: 10px;
    color: var(--main-content-title);
}

.main-content-text{
    font-size: 10px;
    color: var(--main-title-color);
}

.main-content-link{
    font-size: 14px;
    font-weight: bold;
    color: var(--pink-color);
}

.btn-fill{
    background-color: var(--pink-color);
    width: 244px;
    height: 65px;
    border-radius: 10px;
    margin: auto;
    color: var(--white-font-color);
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-game{
    background-color: var(--main-section-content);
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-game-title{
    text-align: center;
    padding: 40px 0 30px 0;
    color: var(--main-content-title);
    font-weight: bold;
}

.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card-game-container{
    background-color: var(--white-font-color);
    max-width: 300px;
    height: 326px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.game-card-picture img{
    width: 300px;
    height: 165px;
}

.game-card-text h3{
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    color: var(--main-title-color);
    font-size: 18px;
}

.game-card-text p{
    font-size: 14px;
    color: var(--main-title-color);
    text-align: center;
}

.game-card-text span{
    font-weight: bold;
    color: var(--main-content-title);
}

.game-card-score{
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: var(--main-content-title);
}

/*FORM*/

.form-subscribe{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: var(--main-title-color);
    margin-bottom: 15px;
}

.form-container{
    background-color: var(--main-section-content);
    border-radius: 10px;
    max-width: 790px;
    margin: auto;
    font-size: 16px;
    color: var(--main-title-color);
    min-width: 300px;
}

.form-elements{
    padding: 50px 10px;
    margin: auto;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-name input{
    width: 280px;
    height: 50px;
    background-color: var(--white-font-color);
    border: 1px solid var(--main-title-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-name input::placeholder{
    color: #c4c4c4;
    padding-left: 20px;
}

.input-email input{
    width: 280px;
    height: 50px;
    background-color: var(--white-font-color);
    border: 1px solid var(--main-title-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-email input::placeholder{
    color: #c4c4c4;
    padding-left: 20px;
}

.section-game-platforms label{
   margin-bottom: 35px;
}

.game-platform-label{
    font-size: 16px;
}

.games-platform{
    margin: 10px 0 35px 0;
}

.checkbox-section{
    margin-bottom: 35px;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-empty{
    background-color: var(--white-font-color);
    border: 2px solid var(--pink-color);
    border-radius: 10px;
    width: 244px;
    height: 65px;
    margin-top: 20px;

    margin-top: 20px;
    color: var(--pink-color);
    font-size: 18px;
    font-weight: bold;
}

.btn-empty [value]{
  
}


/*FOOTER*/


@media screen and (min-width: 768px) {

    .container{
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
    }

    .header-nav{
        display: flex;
        align-items: center;
    }

    .header-nav ul{
        display: flex;
    }

    .cards-container{
        min-width: 950px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
}