@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root{
    --header-bg-color: #38AF90;
    --white-font-color: #fff;
    --main-title-color: #797979;
    --main-section-content: #F0F0F0;
    --main-content-title: #38AF90;
    --pink-color: #DD7E92;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}

hr{
    border: 1px solid var(--main-content-title);
    margin-bottom: 3px;
}

/*HEADER*/

.header-container{
    background-color: var(--header-bg-color);
    color: var(--white-font-color);
    height: 90px;

    display: flex;
}

.header-container-content{
    margin: 15px 10px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-weight: bold;
    font-size: 18px;
}

.header-nav ul{
    list-style-type: none;
    display: none;
}

.header-nav li{
    margin-right: 30px;
}

.header-profile{
    width: 60px;
    height: 60px;

    display: flex;
}

.box-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);

}

/*MAIN*/

.main-section-container{
    margin: 40px 0;
    margin: 10px;
}

.main-section-title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-title-color);
    text-align: center;
}

.main-section-content{
    background-color: var(--main-section-content);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

.main-content-title h3{
    font-size: 1em;
    color: var(--main-content-title);
    margin: 0 0 5px 0;
    font-weight: bold;
}

.main-content-title h4{
    font-weight: bold;
    font-size: 1em;
    color: var(--main-title-color);
    margin-bottom: 5px;
}

.main-content-date{
    font-size: 10px;
    color: var(--main-content-title);
}

.main-content-text{
    font-size: 10px;
    color: var(--main-title-color);
}

.main-content-link{
    font-size: 14px;
    font-weight: bold;
    color: var(--pink-color);
}




/*FOOTER*/


@media screen and (min-width: 768px) {

    .container{
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
    }

    .header-nav{
        display: flex;
        align-items: center;
    }

    .header-nav ul{
        display: flex;
    }
    
}