@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root{
    --header-bg-color: #38AF90;
    --white-font-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}

.header-container{
    background-color: var(--header-bg-color);
    color: var(--white-font-color);
    height: 90px;

    display: flex;
}

.header-container-content{
    margin: 15px 10px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
    display: none;
}

.header-title{
    font-weight: bold;
    font-size: 18px;
}

.header-nav ul{
    list-style-type: none;
}

.header-nav li{
    margin-right: 30px;
}

.header-profile{
    width: 60px;
    height: 60px;

    display: flex;
}

.box-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);

}



@media screen and (min-width: 768px) {

    .container{
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
    }
    
}